# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Env
.env
.env.local
.env.development
.env.production
.env.staging
.env.test
.env.*.local

# Prisma
prisma/generated/
prisma/migrations/
*.db
*.db-journal

# Logs
logs/
*.log
log.txt

# OS junk
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Docker
docker-compose.override.yml
docker-data/
caddy-data/
caddy-config/

# Firebase keys
serviceAccountKey.json
firebase-service-account.json

# Local cache
.cache/
.cache-loader/
